torch
torchvision
torchaudio

torchmetrics==0.11.4

torchscan==0.1.1
fvcore==0.1.5.post20221221
ptflops
thop==0.1.1.post2209072238

onnx==1.14.0
onnxruntime==1.14.1

opencv-python==4.7.0.72
Pillow==9.4.0

tensorboard==2.13.0

numpy
pandas
scipy==1.9.1

tqdm==4.65.0
